canvas {
    margin-left: 25px;
    width: 500px;
    height: 500px;
    margin-bottom: 15px;
}

#chatbox {
    border-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    width: 450px;
    margin-left: 25px;
}

#textbox {
    height: 20px;
    width: 100%;
}